extends base.pug

block content
  div#videoContainer(data-id=video._id)
    video(src="/" + video.fileUrl, width="500", height="300")
    div#videoControls 
      button#play Play 
      button#mute Mute
      input(type="range", step="0.1", value=0.5, mim="0", max="1")#volume
      div
        span#currentTime 0:00
        span  / 
        span#totalTime 00:00
      div 
        input(type="range", step="1", value=0, mim="0")#timeline
      div 
        button#fullScreen Enter Full Screen

  if loggedIn
    div.video__comments
      form.video__comment-form#commentForm
        textarea(cols="30", rows="10", placeholder="Write a nice comment....")
        button Add Comment

block scripts 
  script(src="/assets/js/videoPlayer.js")
  if loggedIn 
    script(src="/assets/js/commentSection.js")